.container,
body {
  -webkit-box-orient:vertical;
  -webkit-box-direction:normal
}
.container form .group-input input,
select {
  background-color:transparent;
  outline:unset
}
* {
  -webkit-box-sizing:border-box;
  box-sizing:border-box;
  padding:0;
  margin:0;
  font-family:auto
}
p{text-wrap:nowrap;}
.container {
  padding-right:var(--bs-gutter-x,.75rem);
  padding-left:var(--bs-gutter-x,.75rem);
  margin-right:auto;
  margin-left:auto
}
@media (min-width:576px) {
  .container {
    max-width:540px
  }
}
@media (min-width:768px) {
  .container {
    max-width:720px
  }
}
@media (min-width:992px) {
  .container {
    max-width:960px
  }
}
@media (min-width:1200px) {
  .container {
    max-width:1140px
  }
}
@media (min-width:1400px) {
  .container {
    max-width:1320px
  }
}
.m-0 {
  margin:0!important
}
.m-1 {
  margin:.25rem!important
}
.m-2 {
  margin:.5rem!important
}
.m-3 {
  margin:1rem!important
}
.m-4 {
  margin:1.5rem!important
}
.m-5 {
  margin:3rem!important
}
.m-auto {
  margin:auto!important
}
.mx-0 {
  margin-right:0!important;
  margin-left:0!important
}
.mx-1 {
  margin-right:.25rem!important;
  margin-left:.25rem!important
}
.mx-2 {
  margin-right:.5rem!important;
  margin-left:.5rem!important
}
.mx-3 {
  margin-right:1rem!important;
  margin-left:1rem!important
}
.mx-4 {
  margin-right:1.5rem!important;
  margin-left:1.5rem!important
}
.mx-5 {
  margin-right:3rem!important;
  margin-left:3rem!important
}
.mx-auto {
  margin-right:auto!important;
  margin-left:auto!important
}
.my-0 {
  margin-top:0!important;
  margin-bottom:0!important
}
.my-1 {
  margin-top:.25rem!important;
  margin-bottom:.25rem!important
}
.my-2 {
  margin-top:.5rem!important;
  margin-bottom:.5rem!important
}
.my-3 {
  margin-top:1rem!important;
  margin-bottom:1rem!important
}
.my-4 {
  margin-top:1.5rem!important;
  margin-bottom:1.5rem!important
}
.my-5 {
  margin-top:3rem!important;
  margin-bottom:3rem!important
}
.my-auto {
  margin-top:auto!important;
  margin-bottom:auto!important
}
.mt-0 {
  margin-top:0!important
}
.mt-1 {
  margin-top:.25rem!important
}
.mt-2 {
  margin-top:.5rem!important
}
.mt-3 {
  margin-top:1rem!important
}
.mt-4 {
  margin-top:1.5rem!important
}
.mt-auto {
  margin-top:auto!important
}
.me-0 {
  margin-right:0!important
}
.me-1 {
  margin-right:.25rem!important
}
.me-2 {
  margin-right:.5rem!important
}
.me-3 {
  margin-right:1rem!important
}
.me-4 {
  margin-right:1.5rem!important
}
.me-auto {
  margin-right:auto!important
}
.mb-0 {
  margin-bottom:0!important
}
.mb-1 {
  margin-bottom:.25rem!important
}
.mb-2 {
  margin-bottom:.5rem!important
}
.mb-3 {
  margin-bottom:1rem!important
}
.mb-4 {
  margin-bottom:1.5rem!important
}
.mb-auto {
  margin-bottom:auto!important
}
.ms-0 {
  margin-left:0!important
}
.ms-1 {
  margin-left:.25rem!important
}
.ms-2 {
  margin-left:.5rem!important
}
.ms-3 {
  margin-left:1rem!important
}
.ms-4 {
  margin-left:1.5rem!important
}
.ms-auto {
  margin-left:auto!important
}
.p-0 {
  padding:0!important
}
.p-1 {
  padding:.25rem!important
}
.p-2 {
  padding:.5rem!important
}
.p-3 {
  padding:1rem!important
}
.p-4 {
  padding:1.5rem!important
}
.px-0 {
  padding-right:0!important;
  padding-left:0!important
}
.px-1 {
  padding-right:.25rem!important;
  padding-left:.25rem!important
}
.px-2 {
  padding-right:.5rem!important;
  padding-left:.5rem!important
}
.px-3 {
  padding-right:1rem!important;
  padding-left:1rem!important
}
.px-4 {
  padding-right:1.5rem!important;
  padding-left:1.5rem!important
}
.py-0 {
  padding-top:0!important;
  padding-bottom:0!important
}
.py-1 {
  padding-top:.25rem!important;
  padding-bottom:.25rem!important
}
.py-2 {
  padding-top:.5rem!important;
  padding-bottom:.5rem!important
}
.py-3 {
  padding-top:1rem!important;
  padding-bottom:1rem!important
}
.py-4 {
  padding-top:1.5rem!important;
  padding-bottom:1.5rem!important
}
.pt-0 {
  padding-top:0!important
}
.pt-1 {
  padding-top:.25rem!important
}
.pt-2 {
  padding-top:.5rem!important
}
.pt-3 {
  padding-top:1rem!important
}
.pt-4 {
  padding-top:1.5rem!important
}
.pe-0 {
  padding-right:0!important
}
.pe-1 {
  padding-right:.25rem!important
}
.pe-2 {
  padding-right:.5rem!important
}
.pe-3 {
  padding-right:1rem!important
}
.pe-4 {
  padding-right:1.5rem!important
}
.pb-0 {
  padding-bottom:0!important
}
.pb-1 {
  padding-bottom:.25rem!important
}
.pb-2 {
  padding-bottom:.5rem!important
}
.pb-3 {
  padding-bottom:1rem!important
}
.pb-4 {
  padding-bottom:1.5rem!important
}
.ps-0 {
  padding-left:0!important
}
.ps-1 {
  padding-left:.25rem!important
}
.ps-2 {
  padding-left:.5rem!important
}
.ps-3 {
  padding-left:1rem!important
}
.ps-4 {
  padding-left:1.5rem!important
}
.w-25 {
  width:25%!important
}
.w-50 {
  width:50%!important
}
.w-100 {
  width:100%!important
}
.row>*,
.table,
body {
  width:100%
}
.text-center {
  text-align:center!important
}
.fs-1 {
  font-size:calc(1.375rem + 1.5vw)!important
}
.fs-2 {
  font-size:calc(1.325rem + .9vw)!important
}
.fs-3 {
  font-size:calc(1.3rem + .6vw)!important
}
.fs-4 {
  font-size:calc(1.275rem + .3vw)!important
}
.fs-5 {
  font-size:1.25rem!important
}
@media (min-width:1200px) {
  .fs-1 {
    font-size:2.5rem!important
  }
  .fs-2 {
    font-size:2rem!important
  }
  .fs-3 {
    font-size:1.75rem!important
  }
  .fs-4 {
    font-size:1.5rem!important
  }
}
.lead {
  font-size:1.25rem;
  font-weight:300
}
.fw-light {
  font-weight:300!important
}
.fw-lighter {
  font-weight:lighter!important
}
.fw-normal {
  font-weight:400!important
}
.fw-bold {
  font-weight:700!important
}
table {
  caption-side:bottom;
  border-collapse:collapse;
  color:#fff!important
}
caption {
  padding-top:.5rem;
  padding-bottom:.5rem;
  color:#6c757d;
  text-align:left
}
th {
  text-align:inherit;
  text-align:-webkit-match-parent
}
tbody,
td,
tfoot,
th,
thead,
tr {
  border:0 solid;
  border-color:inherit
}
.table {
  --bs-table-bg:transparent;
  --bs-table-accent-bg:transparent;
  --bs-table-striped-color:#212529;
  --bs-table-striped-bg:rgba(0, 0, 0, 0.05);
  --bs-table-active-color:#212529;
  --bs-table-active-bg:rgba(0, 0, 0, 0.1);
  --bs-table-hover-color:#212529;
  --bs-table-hover-bg:rgba(0, 0, 0, 0.075);
  margin-bottom:1rem;
  color:#212529;
  vertical-align:top;
  border-color:#dee2e6
}
.table>:not(caption)>*>* {
  padding:.5rem;
  background-color:var(--bs-table-bg);
  border-bottom-width:1px;
  box-shadow:inset 0 0 0 9999px var(--bs-table-accent-bg)
}
.table>tbody {
  vertical-align:inherit
}
.table>thead {
  vertical-align:bottom
}
.table>:not(:last-child)>:last-child>* {
  border-bottom-color:currentColor
}
.caption-top {
  caption-side:top
}
.table-sm>:not(caption)>*>* {
  padding:.25rem
}
.table-bordered>:not(caption)>* {
  border-width:1px 0
}
.table-bordered>:not(caption)>*>* {
  border-width:0 1px
}
.table-borderless>:not(caption)>*>* {
  border-bottom-width:0
}
.table-striped>tbody>tr:nth-of-type(odd) {
  --bs-table-accent-bg:var(--bs-table-striped-bg);
  color:var(--bs-table-striped-color)
}
.table-active {
  --bs-table-accent-bg:var(--bs-table-active-bg);
  color:var(--bs-table-active-color)
}
.table-primary,
.table-secondary {
  --bs-table-striped-color:#000;
  --bs-table-active-color:#000;
  --bs-table-hover-color:#000;
  color:#000
}
.table-hover>tbody>tr:hover {
  --bs-table-accent-bg:var(--bs-table-hover-bg);
  color:var(--bs-table-hover-color)
}
.container,
.item,
.pro-btn,
a,
select {
  color:#fff
}
.table-secondary {
  --bs-table-bg:#e2e3e5;
  --bs-table-striped-bg:#d7d8da;
  --bs-table-active-bg:#cbccce;
  --bs-table-hover-bg:#d1d2d4;
  border-color:#cbccce
}
.table-responsive {
  overflow-x:auto;
  -webkit-overflow-scrolling:touch
}
.rounded {
  border-radius:.25rem!important
}
.row {
  --bs-gutter-x:1.5rem;
  --bs-gutter-y:0;
  display:flex;
  flex-wrap:wrap;
  margin-top:calc(var(--bs-gutter-y) * -1);
  margin-right:calc(var(--bs-gutter-x) * -.5);
  margin-left:calc(var(--bs-gutter-x) * -.5)
}
.container,
.container form .group-input,
.pro-btn,
body {
  display:-webkit-box;
  display:-ms-flexbox
}
.row>* {
  flex-shrink:0;
  max-width:100%;
  padding-right:calc(var(--bs-gutter-x) * .5);
  padding-left:calc(var(--bs-gutter-x) * .5);
  margin-top:var(--bs-gutter-y)
}
.col-6 {
  flex:0 0 auto;
  width:50%
}
.form-label {
  margin-bottom:.5rem
}
.justify-content-center {
  justify-content:center!important
}
body {
  background:#1d0833;
  background:conic-gradient(from 135deg, rgb(48, 12, 221), rgb(2, 1, 36));
  min-height:100vh;
  display:flex;
  -webkit-box-pack:center;
  -ms-flex-pack:center;
  justify-content:center;
  -webkit-box-align:center;
  -ms-flex-align:center;
  align-items:center;
  -ms-flex-direction:column;
  flex-direction:column;
  padding:25px 0
}
.container,
.container form .group-input {
  -webkit-box-align:center
}
a {
  text-decoration:none
}
.container {
  background:rgba(255,255,255,.2);
  border-radius:10px;
  -webkit-box-shadow:0 4px 30px rgba(0,0,0,.1);
  box-shadow:0 4px 30px rgba(0,0,0,.1);
  backdrop-filter:blur(5px);
  -webkit-backdrop-filter:blur(5px);
  border:1px solid rgba(255,255,255,.3);
  width:360px;
  padding:20px;
  display:flex;
  -ms-flex-align:center;
  align-items:center;
  -webkit-box-pack:start;
  -ms-flex-pack:start;
  justify-content:start;
  -ms-flex-direction:column;
  flex-direction:column;
  gap:15px;
  text-shadow:-2px 3px 10px rgba(0,0,0,.6)
}
.container .netowrk-name {
  font-weight:800;
  font-size:30px;
}
.container #time {
  font-size:14px;
  text-wrap: nowrap;
}
.container form .group-input {
  display:flex;
  -ms-flex-align:center;
  align-items:center;
  width:100%;
  border-bottom:1px solid #d0d0d0;
  padding:5px 10px;
  gap:5px
}
.container form .group-input input {
  border:none;
  border-radius:0;
  padding-right:5px;
  color:#fff;
  text-align:center
}
.container form .group-input input::-webkit-input-placeholder {
  color:#d0d0d0;
  text-shadow:-2px 3px 10px rgba(0,0,0,.6)
}
.container form .group-input input::-moz-placeholder {
  color:#d0d0d0;
  text-shadow:-2px 3px 10px rgba(0,0,0,.6)
}


.container form .group-input input::placeholder {
  color:#d0d0d0;
  text-shadow:-2px 3px 10px rgba(0,0,0,.6)
}
select {
  border-radius:8px;
  width:100%;
  border:3px solid #d0d0d0;
  padding:10px 20px;
  text-align:center
}
select option {
  color:#000
}
.pro-btn {
  font-family:inherit;
  font-size:18px;
  background:-webkit-gradient(linear,right top,left top,from(#1d0833),to(#7f574d));
  background:-o-linear-gradient(right,#1d0833 0,#7f574d 100%);
  background:linear-gradient(to left, rgb(97, 71, 142) 0%, rgb(0, 0, 0) 100%);
  padding:.8em 1em;
  display:flex;
  -webkit-box-align:center;
  -ms-flex-align:center;
  align-items:center;
  -webkit-box-pack:justify;
  -ms-flex-pack:justify;
  justify-content:space-between;
  border:none;
  border-radius:10px;
  width:100%;
  -webkit-box-shadow:0 5px 10px rgba(0,0,0,.2);
  box-shadow:0 5px 10px rgba(0,0,0,.2);
  -webkit-transition:.3s;
  -o-transition:.3s;
  transition:.3s
}
.group-btn,
.pro-btn.rotat .svg-wrapper {
  display:-webkit-box;
  display:-ms-flexbox
}
.pro-btn span,
.pro-btn svg {
  -webkit-transition:.3s;
  -o-transition:.3s
}
.pro-btn:hover {
  -webkit-transform:translateY(3px);
  -ms-transform:translateY(3px);
  transform:translateY(3px);
  -webkit-box-shadow:0 8px 15px rgba(0,0,0,.3);
  box-shadow:0 8px 15px rgba(0,0,0,.3)
}
.pro-btn:active {
  -webkit-box-shadow:0 2px 5px rgba(0,0,0,.2);
  box-shadow:0 2px 5px rgba(0,0,0,.2)
}
.pro-btn span {
  display:block;
  margin-left:.4em;
  transition:.3s
}
.pro-btn svg {
  width:18px;
  height:18px;
  transition:.3s
}
.rotat svg {
  fill:#fff
}
.pro-btn.rotat .svg-wrapper {
  display:flex;
  -webkit-box-align:center;
  -ms-flex-align:center;
  align-items:center;
  -webkit-box-pack:center;
  -ms-flex-pack:center;
  justify-content:center;
  width:30px;
  height:30px;
  border-radius:50%;
  background-color:rgba(255,255,255,.2);
  margin-right:.5em;
  -webkit-transition:.3s;
  -o-transition:.3s;
  transition:.3s
}
.pro-btn:hover.rotat .svg-wrapper {
  background-color:rgba(255,255,255,.5)
}
.pro-btn.rotate svg {
  -webkit-transform:rotate(-90deg);
  -ms-transform:rotate(-90deg);
  transform:rotate(-90deg)
}
.pro-btn:hover.rotate svg {
  -webkit-transform:rotate(-130deg);
  -ms-transform:rotate(-130deg);
  transform:rotate(-130deg)
}
.group-btn {
  display:flex;
  gap:10px;
  -webkit-box-align:center;
  -ms-flex-align:center;
  align-items:center;
  -webkit-box-pack:justify;
  -ms-flex-pack:justify;
  justify-content:space-between;
  width:100%
}
.item,
.ticker {
  display:inline-block
}
.group-btn button {
  font-size:15px
}
#location,
#price {
  display:none
}
.ticker-wrap {
  width:100%;
  height:30px;
  margin:0 auto;
  overflow:hidden;
  white-space:nowrap;
  background-color:#51495b
}
.ticker {
  animation:20s linear infinite marquee
}
.item-collection-1 {
  position:relative;
  left:0;
  animation:20s linear infinite swap
}
.item {
  padding:0 1rem;
  font-size:14px;
  font-weight:800
}
@keyframes marquee {
  0% {
    transform:translateX(0)
  }
  100% {
    transform:translateX(100%)
  }
}
@keyframes swap {
  0%,
  50% {
    left:0
  }
  100%,
  50.01% {
    left:100%
  }
}
.select-group {
  width:100%;
  text-align:center
}
.select-group select {
  font-size:14px;
  font-weight:400
}
label {
  font-size:16px !important;
  font-weight:520;
}
.table-container {
  max-height:200px;
  overflow-y:scroll
}
button {
  cursor: pointer;
}
